<svg id="radar"></svg>
<div class="container">
  <div class="row">
    <div class="col">
      <h3>What is the Tech Radar?</h3>

      <p>
        The Tech Radar is a list of technologies, frameworks, tools and methods, complemented by an assessment result, called ring
        assignment; we use 4 rings with a slightly adapted semantics to fit our purpose:
      </p>

      <ul>
        <li>
          <b>ADOPT</b> &mdash; Technologies we have high confidence to serve our purpose, also in large scale.
          Technologies with an usage culture in our production environment, low risk and recommend to be widely
          used.
        </li>
        <li>
          <b>TRIAL</b> &mdash; Technologies that we have seen work with success in project work to solve a real
          problem; first serious usage experience that confirm benefits and can uncover limitations. TRIAL
          technologies are slightly more risky; some engineers in our organization walked this path and will
          share knowledge and experiences.</li>
        <li>
          <b>ASSESS</b> &mdash; Technologies that are promising and have clear potential value-add for us; technologies
          worth to invest some research and prototyping efforts in to see if it has impact. ASSESS technologies
          have higher risks; they are often brand new and highly unproven in our organisation. You will find
          some engineers that have knowledge in the technology and promote it, you may even find teams that
          have started a prototyping effort.</li>
        <li>
          <b>HOLD</b> &mdash; Technologies not recommended to be used for new projects. Technologies that we think
          are not (yet) worth to (further) invest in. HOLD technologies should not be used for new projects,
          but usually can be continued for existing projects.</li>
      </ul>

    </div>
    <div class="col">
      <h3>Purpose</h3>

      <p>
        The Tech Radar is a tool to inspire and support teams to pick the best technologies for new projects; it provides a platform
        to share knowledge and experience in technologies, to reflect on technology decisions and continuously
        evolve our technology landscape. Teams are encouraged to challenge the Tech Radar and provide feedback
        to the Tech Radar.
      </p>
    </div>
  </div>
</div>
